@import url("main.css");

body {
  display: flex;
}
.attendance {
  width: 100%;
  padding: 2rem;
  padding-top: var(--navbar-height);
  padding-bottom: 2rem;
  margin-top: var(--navbar-height);
}
select {
  margin: 0 1rem 0 0;
}
.select-options {
  border-radius: 25px;
  padding: 0.6rem 2rem;
  width: 250px;
}
table {
    margin-top: 2rem;
    width: 100%;
    border-collapse: separate;
    border-spacing: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;

}
th, td {
    border: 1px solid #ccc;
    padding: 1rem;
    font-weight: 600;
    background-color: #B8B8B8;
}
th {
    background-color: #f4f4f4;
}

/*
 * MOBILE SECTION
 */

@media screen and (max-width: 950px) {
  body {
    flex-direction: column;
  }

  .section {
    display: none;
  }

  .m-main {
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
  }

  .m-content {
    display: flex;
    flex-direction: column;

    padding: 0 1rem;
    gap: 1.5rem;
  }

  .m-content h1 {
    font-size: 3rem;
    color: #303030;
  }

  .dashboard-boxes {
    gap: 1.5rem;
  }

  .dashboard-table {
    padding: 0 1rem;
    margin-top: 2rem;
  }

  .dashboard-table .table-container {
    overflow-x: auto;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    margin-bottom: 1.5rem;
  }

  .dashboard-table table {
    table-layout: auto;
    overflow-x: auto;
  }

  .dashboard-table table td:first-child,
  .dashboard-table table th:first-child,
  .dashboard-table table td:last-child,
  .dashboard-table table th:last-child {
    border-left: none;
    border-right: none;
  }
}

@media screen and (max-width: 768px) {
  .dashboard-boxes {
    grid-template-columns: repeat(1, minmax(100%, 1fr));
    grid-template-rows: repeat(4, minmax(200px, 1fr));
  }

  .dashboard-boxes .box {
    padding-left: 5%;
  }
}
